flows.json
[
    {
        "id": "d38d189f7f657b08",
        "type": "tab",
        "label": "ESP",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2a97809dab94d9f0",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "maqiatto.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ce0737ea0937cc84",
        "type": "mqtt in",
        "z": "d38d189f7f657b08",
        "name": "Keypad code received",
        "topic": "hectorfoss@gmail.com/site1/door1/keypad/submit",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2a97809dab94d9f0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 360,
        "wires": [
            [
                "77b937cf1b2a1a12"
            ]
        ]
    },
    {
        "id": "77b937cf1b2a1a12",
        "type": "json",
        "z": "d38d189f7f657b08",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 510,
        "y": 360,
        "wires": [
            [
                "2f3a0d46718f1aee"
            ]
        ]
    },
    {
        "id": "2f3a0d46718f1aee",
        "type": "function",
        "z": "d38d189f7f657b08",
        "name": "Check if UID matches keycode",
        "func": "const CODE = msg.payload?.data?.code;\nconst UID = flow.get(\"currentGrantedUID\");\nconst allowlist = flow.get(\"allowlist\");\n\n// Defensive checks\nif (!UID) {\n    node.warn(\"No currentGrantedUID in flow context\");\n    msg.payload.response = { hasAccess: false };\n    return msg;\n}\n\nif (!CODE) {\n    node.warn(\"No keypad code provided\");\n    msg.payload.response = { hasAccess: false };\n    return msg;\n}\n\nconsole.log(\"Entered KeyPad Code:\", CODE);\nconsole.log(\"Checking UID:\", UID);\n\nif (!allowlist || typeof allowlist !== \"object\") {\n    node.error(\"Allowlist not loaded or invalid\", msg);\n    msg.payload.response = { hasAccess: false };\n    return msg;\n}\n\n// Check if UID exists and code matches\nconst expectedCode = allowlist[UID];\n\nmsg.payload.response = {\n    accessGranted: typeof expectedCode === \"string\" && expectedCode === String(CODE)\n};\n\nconsole.log(msg);\nconsole.log(\"currentGrantedUID: \"+UID);\n\n// Reset UID\nflow.set(\"currentGrantedUID\", null);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"currentGrantedUID\", null)",
        "finalize": "// Code added here will be run when the\n// node is being stopped or re-deployed.\nflow.set(\"currentGrantedUID\", null)",
        "libs": [],
        "x": 730,
        "y": 360,
        "wires": [
            [
                "97e7d33b50beb0e5"
            ]
        ]
    },
    {
        "id": "ae7e046d02c03fa1",
        "type": "mqtt in",
        "z": "d38d189f7f657b08",
        "name": "RFID UID Received",
        "topic": "hectorfoss@gmail.com/site1/door1/access/request",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2a97809dab94d9f0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 300,
        "wires": [
            [
                "d49e723c8859a81b"
            ]
        ]
    },
    {
        "id": "d49e723c8859a81b",
        "type": "json",
        "z": "d38d189f7f657b08",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 510,
        "y": 300,
        "wires": [
            [
                "ac67bdc36ed909d2"
            ]
        ]
    },
    {
        "id": "ac67bdc36ed909d2",
        "type": "function",
        "z": "d38d189f7f657b08",
        "name": "Check if UID has permission",
        "func": "const allowlist = flow.get(\"allowlist\");\n\nconst UID = msg.payload.data.uid;\n\n// Check if UID in db\nmsg.payload.response = {\n    hasAccess: Object.prototype.hasOwnProperty.call(allowlist, UID)\n};\n\nconsole.log(\"Scanned UID is in allowlist\");\n\nflow.set(\"currentGrantedUID\", UID);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"currentGrantedUID\", null);",
        "finalize": "// Code added here will be run when the\n// node is being stopped or re-deployed.\nflow.set(\"currentGrantedUID\", null);",
        "libs": [],
        "x": 720,
        "y": 300,
        "wires": [
            [
                "34dc293395dd4b91"
            ]
        ]
    },
    {
        "id": "34dc293395dd4b91",
        "type": "mqtt out",
        "z": "d38d189f7f657b08",
        "name": "Send response",
        "topic": "hectorfoss@gmail.com/site1/door1/access/response",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2a97809dab94d9f0",
        "x": 960,
        "y": 300,
        "wires": []
    },
    {
        "id": "7d7e746cc0f36f89",
        "type": "mqtt in",
        "z": "d38d189f7f657b08",
        "name": "Keypad tap",
        "topic": "hectorfoss@gmail.com/site1/door1/keypad/tap",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2a97809dab94d9f0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 420,
        "wires": [
            [
                "99164f089998faf4"
            ]
        ]
    },
    {
        "id": "99164f089998faf4",
        "type": "json",
        "z": "d38d189f7f657b08",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 510,
        "y": 420,
        "wires": [
            [
                "bc3bcd924c8e506f"
            ]
        ]
    },
    {
        "id": "bc3bcd924c8e506f",
        "type": "function",
        "z": "d38d189f7f657b08",
        "name": "Save pin length",
        "func": "const PIN_LENGTH = msg.payload?.data?.pinlength;\n\n// Don't beep if unchanged pin length\nif (PIN_LENGTH == flow.get(\"pinlength\")) return;\n\nflow.set(\"pinlength\", PIN_LENGTH);\n\nconsole.log(\"Pin Length: \" + PIN_LENGTH);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"pinlength\", 0);",
        "finalize": "// Code added here will be run when the\n// node is being stopped or re-deployed.\nflow.set(\"pinlength\", 0);",
        "libs": [],
        "x": 680,
        "y": 420,
        "wires": [
            [
                "3a69f01ef76a8fc4"
            ]
        ]
    },
    {
        "id": "97e7d33b50beb0e5",
        "type": "mqtt out",
        "z": "d38d189f7f657b08",
        "name": "Send access response",
        "topic": "hectorfoss@gmail.com/site1/door1/access/keypad_response",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2a97809dab94d9f0",
        "x": 980,
        "y": 360,
        "wires": []
    },
    {
        "id": "672b587de06ee3a7",
        "type": "file in",
        "z": "d38d189f7f657b08",
        "name": "Read allowlist",
        "filename": "/home/mathias/.node-red/allowlist.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 460,
        "y": 180,
        "wires": [
            [
                "46fecf8697e1103b"
            ]
        ]
    },
    {
        "id": "46fecf8697e1103b",
        "type": "json",
        "z": "d38d189f7f657b08",
        "name": "Convert file read to JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 690,
        "y": 180,
        "wires": [
            [
                "3d54cd38ec0f6619"
            ]
        ]
    },
    {
        "id": "0775898a7541984f",
        "type": "inject",
        "z": "d38d189f7f657b08",
        "name": "On startup",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "672b587de06ee3a7"
            ]
        ]
    },
    {
        "id": "3d54cd38ec0f6619",
        "type": "function",
        "z": "d38d189f7f657b08",
        "name": "Set flow var allowlist",
        "func": "flow.set(\"allowlist\", msg.payload);\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "3a69f01ef76a8fc4",
        "type": "mqtt out",
        "z": "d38d189f7f657b08",
        "name": "Send beep",
        "topic": "hectorfoss@gmail.com/site1/door1/keypad/beep",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2a97809dab94d9f0",
        "x": 950,
        "y": 420,
        "wires": []
    },
    {
        "id": "856ad9d36cfbd1bd",
        "type": "inject",
        "z": "d38d189f7f657b08",
        "name": "Admin control",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "hectorfoss@gmail.com/site1/door1/admin",
        "payload": "{\"data\":{\"adminServoControl\":false}}",
        "payloadType": "json",
        "x": 290,
        "y": 520,
        "wires": [
            [
                "4be4aa2aa7320079"
            ]
        ]
    },
    {
        "id": "4be4aa2aa7320079",
        "type": "function",
        "z": "d38d189f7f657b08",
        "name": "Toggle adminServoControl",
        "func": "const varName = \"adminServoControl\";\n\nflow.set(varName, !flow.get(varName));\n\nmsg.payload.data.adminServoControl = flow.get(varName)\n\nconsole.log(\"Admin control: \" + msg.payload.data.adminServoControl);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"adminServoControl\", false);",
        "finalize": "// Code added here will be run when the\n// node is being stopped or re-deployed.\nflow.set(\"adminServoControl\", false);",
        "libs": [],
        "x": 630,
        "y": 520,
        "wires": [
            [
                "1ad48fb2de55120d",
                "5a3ba415b3e13d68"
            ]
        ]
    },
    {
        "id": "1ad48fb2de55120d",
        "type": "mqtt out",
        "z": "d38d189f7f657b08",
        "name": "Send admin control status",
        "topic": "hectorfoss@gmail.com/site1/door1/admin/servo_control",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2a97809dab94d9f0",
        "x": 990,
        "y": 520,
        "wires": []
    },
    {
        "id": "5a3ba415b3e13d68",
        "type": "debug",
        "z": "d38d189f7f657b08",
        "name": "var adminServoControl",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.data.adminServoControl",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 900,
        "y": 600,
        "wires": []
    }
]