Snippets/NodeRed/flows.json
[
    {
        "id": "c25e398bee450a74",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dd06bd64ae73d0c9",
        "type": "debug",
        "z": "c25e398bee450a74",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 140,
        "wires": []
    },
    {
        "id": "7114781344af6368",
        "type": "mqtt in",
        "z": "c25e398bee450a74",
        "name": "Access Request",
        "topic": "hectorfoss@gmail.com/site1/door1/access/request",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2a97809dab94d9f0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 220,
        "wires": [
            [
                "930d7c090eb9bbec"
            ]
        ]
    },
    {
        "id": "a26d9382ae773c17",
        "type": "comment",
        "z": "c25e398bee450a74",
        "name": "Access decision",
        "info": "",
        "x": 200,
        "y": 180,
        "wires": []
    },
    {
        "id": "930d7c090eb9bbec",
        "type": "json",
        "z": "c25e398bee450a74",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 470,
        "y": 220,
        "wires": [
            [
                "791c427a7d9992e6",
                "26ccc2f6e6e3fee4"
            ]
        ]
    },
    {
        "id": "791c427a7d9992e6",
        "type": "function",
        "z": "c25e398bee450a74",
        "name": "Build select",
        "func": "const p = msg.payload || {};\nmsg._device_id = p.device_id || \"unknown_device\";\nmsg._uid = String(p.uid || \"\");\n\n// Path to your allowlist file\n// Linux example\n//msg.allowlist_path = \"/home/pi/.node-red/allowlist.json\";\n\n// Windows example\nmsg.allowlist_path = \"C:\\\\Users\\\\Hector\\\\.node-red\\\\allowlist.json\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 220,
        "wires": [
            [
                "dd06bd64ae73d0c9",
                "1479cd28a3fecdf8"
            ]
        ]
    },
    {
        "id": "22a7a97e333e5ad5",
        "type": "function",
        "z": "c25e398bee450a74",
        "name": "Build response from allowlist",
        "func": "const allow = msg.payload?.cards || {};\nconst uid = String(msg._uid || \"\");\n\nconst entry = allow[uid];\nconst enabled = !!(entry && entry.enabled);\n\nmsg.payload = {\n  uid,\n  authorized: enabled,\n  reason: enabled ? \"allowlist\" : \"not_found\",\n  ts: Math.floor(Date.now() / 1000)\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 220,
        "wires": [
            [
                "4da1b3d277461beb",
                "e7402adcd6c28220"
            ]
        ]
    },
    {
        "id": "4da1b3d277461beb",
        "type": "mqtt out",
        "z": "c25e398bee450a74",
        "name": "Access response",
        "topic": "hectorfoss@gmail.com/site1/door1/access/response",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2a97809dab94d9f0",
        "x": 1470,
        "y": 220,
        "wires": []
    },
    {
        "id": "6e7d3b5d127133b7",
        "type": "debug",
        "z": "c25e398bee450a74",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 140,
        "wires": []
    },
    {
        "id": "26ccc2f6e6e3fee4",
        "type": "debug",
        "z": "c25e398bee450a74",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 140,
        "wires": []
    },
    {
        "id": "e7402adcd6c28220",
        "type": "debug",
        "z": "c25e398bee450a74",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 140,
        "wires": []
    },
    {
        "id": "1479cd28a3fecdf8",
        "type": "file in",
        "z": "c25e398bee450a74",
        "name": "allowlist",
        "filename": "allowlist_path",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 840,
        "y": 220,
        "wires": [
            [
                "287b1ffd184974e6"
            ]
        ]
    },
    {
        "id": "287b1ffd184974e6",
        "type": "json",
        "z": "c25e398bee450a74",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 990,
        "y": 220,
        "wires": [
            [
                "22a7a97e333e5ad5"
            ]
        ]
    },
    {
        "id": "2a97809dab94d9f0",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "maqiatto.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]